<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>

</head>
<body>
<div class="container">
    <form  action="#"  th:action="@{/searchdish}"  method="post" th:object="${searchDish}">

        <div  th:if="${#fields.hasErrors('dish')}" th:text="*{dish}">You Must enter a valid Dish Name!</div>
        <label>Dish Name</label>
        <input type="text" th:field="*{dish}" name="dish" placeholder="Enter Dish Name"  />

        <button type="submit" class="btn btn-warning" >Search</button>


    </form>
</div>

</body>
</html>